<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Account_Details</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <!-- for table -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- for navbar -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <style>
        body {
            color: #566787;
            background: #f5f5f5;
            font-family: 'Roboto', sans-serif;
        }
    </style>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <!-- for tooltip -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('[tooltip-glyph="glyph-tooltip-demo"]').tooltip({
                placement: 'right'
            });
        });
    </script>

</head>

<body>
    <section class="GContent" style="background-color: #f2f3f4">
        {% include 'left_admin_menu.html' %}
        <!-- **********end -->
        <!-- *********************************************************************** all Activity show here   -->
        <div class="G1" style="width: 94%;">

            <div class="Gformat" style="width: 100%;">
                <!-- start  -->
                <div class="container-xl">
                    <div class="">
                        <div class="table-wrapper">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <h2 style="color: white">Registered Account <b>Details</b></h2>
                                    </div>
                                    <div class="col-sm-7">
                                        <a href="#" data-toggle="dropdown" class="btn btn-secondary"><i
                                                class="material-icons">&#xE147;</i>
                                            <span>Add New User</span></a>
                                        <div class="dropdown-menu action-form">
                                            {% include 'signup.html' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Date Created</th>
                                        <th>Role</th>
                                        <th style="width: 15%;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                    <tr>
                                        <td>{{user.id}}</td>
                                        <td><a href="#"><i class="fa fa-user-circle" aria-hidden="true"
                                                    style="font-size: 30px;"></i> {{user.username}}</a></td>
                                        <td>{{user.created_at}}</td>
                                        <td>{{user.role}}</td>
                                        <td>
                                            <a href="{{ url_for('edit_profile', user_id = user.id)}}" class="view" title="View Account" data-toggle="tooltip"><i
                                                    class="material-icons">&#xE417;</i></a>
                                            <!-- <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i
                                                    class="material-icons">&#xE8B8;</i></a> -->
                                            <a href="{{ url_for('delete_account', user_id = user.id) }}" class="delete" title="Delete Account" data-toggle="tooltip"><i
                                                    class="material-icons">&#xE5C9;</i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--end  -->
            </div>
        </div>
    </section>
</body>

</html>