<!DOCTYPE html>
<html lang="en">
<head>
  <title>GeneralistArticle</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="/static/style.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!--Looding social media icons library  -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   
<!-- FOR TOOltip -->

<script type="text/javascript">
$(document).ready(function(){
    $('[tooltip-glyph="glyph-tooltip-demo"]').tooltip({
        placement : 'right'
    });
});
</script>

  
  </head>  
<body>
<section class="GContent">

<div class="iconbar">
            <a href="index.html"><img class="logo" src="/static/Images/navbarLogo.png" style="cursor: pointer;" tooltip-glyph="glyph-tooltip-demo" data-original-title="Home"></a>
            <a href="/newsSummary" ><span  class="glyphicon glyphicon-globe icon-size" tooltip-glyph="glyph-tooltip-demo" data-original-title="News"></span></a><br>
            <a href="/notifications"><span class="glyphicon glyphicon-bell icon-size" tooltip-glyph="glyph-tooltip-demo" data-original-title="Notifications"></span></a><br>
            <a href="/list"><span class="glyphicon glyphicon-bookmark icon-size" tooltip-glyph="glyph-tooltip-demo" data-original-title="List"></span></a><br>
            <a href="/yournewsarticles"><span class="glyphicon glyphicon-list-alt icon-size" tooltip-glyph="glyph-tooltip-demo" data-original-title="Your_News"></span></a><br><hr>
            <a href="/writenews"><span class="glyphicon glyphicon-pencil icon-size" tooltip-glyph="glyph-tooltip-demo" data-original-title="Write"></span></a><br>
            <img class="profile-pic" src="/static/Images/profile3.jpeg">
 </div>  
          
<!-- **********end -->
<!-- *********************************************************************** all generlaist content show  -->
<div class="G1" >
<div class="AGformat">
 <!-- profile icon -->
 <img src="https://bootdey.com/img/Content/avatar/avatar3.png" style="width: 80px; height: 80px; border-radius: 50px; margin-top: 10px;">
 <!-- name/time -->
 <h5>Nimi Rana&nbsp;.&nbsp;<p class="time" >2 days ago</p></h5>
 <!-- news title -->
 <a href="#"><h2 style="margin-top: 35px;">PM Shehbaz, General Qamar Javed Bajwa discuss national security situation</h2></a>
 <div class="Aimg"><img style="width: 100%; height: 50%; margin-top: 5px; border-radius: 0px; margin-bottom: 30px" src="/static/Images/pic1.jpg"></div>               
<!-- news summary -->
<h4>The civil-military brass, according to the sources, held deliberations over several matters, including the country’s security situation and military’s professional affairs. The meeting took place at the PM’s Office, the sources added. The chief of army staff last met the prime minister in April. “Professional matters pertaining to national security were discussed during the meeting,” a statement from the PM Office said.
The civil-military brass, according to the sources, held deliberations over several matters, including the country’s security situation and the military’s professional affairs.

The meeting took place at PM Office, the sources added.

The chief of army staff last met the prime minister in April, which was their first meeting after the premier was elected to office.<br>
The COAS reiterated the resolve that the armed forces were committed to eliminate militants and miscreants from the country. On the occasion, the president paid rich tribute to the security forces, who laid down their lives in the recent operations against the militants in Balochistan and the merged tribal districts of Khyber Pakhtunkhwa.

Alvi said that the nation was proud of the sacrifices of its armed forces, which had always defended the national frontiers against all odds. </h4></div>
  <!-- news image -->
  <!-- share icons -->
        <div class="mediabuttons" style="margin-bottom: 10%;">   
        <a href="#" data-tooltip="Account Security" ><i class="fa fa-fw fa-ellipsis-h"></i></a>
        <a class="active" href="#" ><i class="fa fa-fw fa-share" ></i>&nbsp;SHARE</a> 
        <a href="#" ><i class="fa fa-bookmark" aria-hidden="true"></i>&nbsp;BOOKMARK</a> 
        <a class="active" href="#" ><i class="fa fa-volume-up" aria-hidden="true"></i>&nbsp;LISTEN</a> 
<!-- Comment section news -->
<button class="translate" onclick="myFunction()">COMMENTS</button>
<div id="AComDIV" >

<div class ="com">
<section class="content-item" id="comments">
    <div class="container">   
      <div class="row">
            <div class="col-sm-7">   
                <form>
                  <h2 class="pull-left" style=" margin-top: -0.6%;">4 Comments</h2>
                  <button type="submit" class="btn btn-normal pull-right" >Submit</button>
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-3 col-lg-2 hidden-xs">
                              <img class="img-responsive" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
                            </div>
                            <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                <textarea class="form-control" id="message" placeholder="Add a comment..." required="" ></textarea>
                            </div>
                        </div>    
                    </fieldset>
                </form>
                
<!--                 <h3>4 Comments</h3> -->
                
                <!-- COMMENT 1 - START -->
                <div class="media">
                    <a class="pull-left" href="#"><img class="media-object" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""></a>
                    <div class="media-body">
                        <h4 class="media-heading">John Doe</h4>
                        <p>The chief of army staff last met the prime minister in April</p>
                        <ul class="list-unstyled list-inline media-detail pull-left">
                            <li><i class="far fa-clock"></i>2 d</li>
                            <li><i class="fa fa-thumbs-up"></i>13</li>
                        </ul>
                        <ul class="list-unstyled list-inline media-detail pull-right">
                            <li class=""><a href="">Reply</a></li>
                            <li class=""><a href="">Report</a></li>
                        </ul>
                    </div>
                </div>
                <!-- COMMENT 1 - END -->
                
                <!-- COMMENT 2 - START -->
                <div class="media">
                    <a class="pull-left" href="#"><img class="media-object" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt=""></a>
                    <div class="media-body">
                        <h4 class="media-heading">John Doe</h4>
                        <p>which was their first meeting after the premier was elected to office.</p>
                        <ul class="list-unstyled list-inline media-detail pull-left">
                            <li><i class="far fa-clock"></i>2 d</li>
                            <li><i class="fa fa-thumbs-up"></i>13</li>
                        </ul>
                        <ul class="list-unstyled list-inline media-detail pull-right">
                            <li class=""><a href="">Reply</a></li>
                            <li class=""><a href="">Report</a></li>
                        </ul>
                    </div>
                </div>
                <!-- COMMENT 2 - END -->
                
                <!-- COMMENT 3 - START -->
                <div class="media">
                    <a class="pull-left" href="#"><img class="media-object" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt=""></a>
                    <div class="media-body">
                        <h4 class="media-heading">John Doe</h4>
                        <p>The civil-military brass, according to the sources, held deliberations over several matters, including the country’s security situation and the military’s professional affairs.</p>
                       <ul class="list-unstyled list-inline media-detail pull-left">
                            <li><i class="far fa-clock"></i>2 d</li>
                            <li><i class="fa fa-thumbs-up"></i>13</li>
                        </ul>
                        <ul class="list-unstyled list-inline media-detail pull-right">
                            <li class=""><a href="">Reply</a></li>
                            <li class=""><a href="">Report</a></li>
                        </ul>
                    </div>
                </div>
                <!-- COMMENT 3 - END -->
                
                <!-- COMMENT 4 - START -->
                <div class="media">
                    <a class="pull-left" href="#"><img class="media-object" src="https://bootdey.com/img/Content/avatar/avatar4.png" alt=""></a>
                    <div class="media-body">
                        <h4 class="media-heading">John Doe</h4>
                        <p>Great job</p>
                        <ul class="list-unstyled list-inline media-detail pull-left">
                            <li><i class="far fa-clock"></i>2 d</li>
                            <li><i class="fa fa-thumbs-up"></i>13</li>
                        </ul>
                        <ul class="list-unstyled list-inline media-detail pull-right">
                            <li class=""><a href="">Reply</a></li>
                            <li class=""><a href="">Report</a></li>
                        </ul>
                    </div>
                </div>
                <!-- COMMENT 4 - END -->
            
            </div>
        </div>
    </div>
</section>

</div>
</div>
</div>
</div>
  
    <!-- ******* end -->

    <!-- *********************************************************************** generalist tag info Start -->
    <div class="G2" style="width: 30%; padding: 0 3px;">
      <div class="G21" style="width: 90%; padding: 5%;">
      <a href="/newsSummary"><button  class="buttonN">News Summary</button></a>
      <a href="/generalistNews"><button  class="buttonA" >News Articles</button></a>
<div class="form-outline" >
  <input style="width: 98%; margin-left: 10px; height: 40px;border-radius: 30px; margin-top: 14%; margin-bottom: 8%;" type="search" id="form1" class="form-control" placeholder="Search" aria-label="Search" />
</div>
<hr>
                 <div class="pb-3">
                        <div class=" mb-3">
                            <h4 >Categories</h4>
                        </div>
                        <div class="d-flex flex-wrap m-n1">
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Politics</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Business</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Corporate</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Sports</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Health</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Education</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Science</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Technology</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Foods</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Entertainment</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Travel</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Lifestyle</a>
                        </div>
                    </div>
<hr>
                   <!--  <div class="popular">
                        <div class=" mb-3">
                            <h4 >Popular News</h4>
                        </div>
                        <div style=";color: black; text-align: left; margin-bottom: 10px;" >
                            <a href="">Top Best Internet Marketing Tips.</a><hr style="border: 0.1px dotted;margin-top: 0; margin-bottom: 0; color: lightgray">
                            <a href="">The relationship between the current document. </a><hr style="border: 0.1px dotted;margin-top: 0; margin-bottom: 0;color: lightgray">
                            <a href="">Meta-owned instant messaging app is developing.</a><hr style="border: 0.1px dotted;margin-top: 0; margin-bottom: 0;color: lightgray">
                            <a href="">The relationship between the current document. </a>
                        </div>
                    </div> -->
<!-- <hr> -->

                    <div class="follow">
                        <div class=" mb-3">
                            <h4 >Who to follow</h4>
                        </div>
                        <div class="d-flex flex-wrap m-n1">
                          <img src="/static/Images/profile1.jpg">
                          <h5>Ramsha Iqbal</h5>
                          <button id="follow-button">+ Follow</button>
                            
                        </div>
                    </div>
                    <!-- repeated -->
                     <div class="follow">
                        <div class=" mb-3">
                            <h4 style="margin-top: 20px;"></h4>
                        </div>
                        <div class="d-flex flex-wrap m-n1">
                          <img src="/static/Images/profile2.jpg">
                          <h5>Areeba Sayed</h5>
                          <button id="follow-button">+ Follow</button>
                        </div>
                    </div>
                   <!-- repeated -->
                     <div class="follow">
                        <div class=" mb-3">
                            <h4 style="margin-top: 20px;"></h4>
                        </div>
                        <div class="d-flex flex-wrap m-n1">
                          <img src="/static/Images/profile1.jpg">
                          <h5>Ramsha Iqbal</h5>
                          <button id="follow-button">+ Follow</button>
                            
                        </div>
                    </div>
      </div>
       <a class="followlink" href="/followerlist">See more suggestions</a>
       <br><br><br>
</div>
    <!-- ******* end -->
  </section>

 <!-- for translated news -->
<script>
function myFunction() {
  var x = document.getElementById("AComDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
</body>
</html>