<div class="com">
    <section class="content-item" id="comments">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <h2 class="pull-left" style="margin-top: -0.6%">
                        Comments
                    </h2>
                    <form method="post" action="{{ url_for('add_comment', news_id=news.id, url = request.path) }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

                        <fieldset>
                            <div class="row">
                                <div class="col-sm-3 col-lg-2 hidden-xs">
                                    <img class="img-responsive" src="/{{current_user.id}}" alt="" />
                                </div>
                                <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                    <textarea class="form-control" id="message" name="comment_area"
                                        placeholder="Add a comment..." required=""></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-normal pull-left">
                                Submit
                            </button>
                        </fieldset>
                    </form>

                    <!--                 <h3>4 Comments</h3> -->

                    <!-- COMMENT 1 - START -->
                    {% for comment in comments %}
                    {% if comment.news_id == news.id %}
                    <div class="media">
                        <a class="pull-left"><img class="media-object" src="/{{comment.comment_post.poster.id}}"
                                alt="" /></a>
                        <div class="media-body">
                            <h4 class="media-heading">{{ comment.comment_post.poster.username }}</h4>
                            <p>{{ comment.comment_post.description }}</p>
                            <ul class="list-unstyled list-inline media-detail pull-right">
                                {% for reply in replys %}
                                {% if comment.id == reply.news_id %}
                                <div class="media">
                                    <img class="media-object" src="/{{reply.comment_post.poster.id}}" alt="">
                                    <div class="">
                                        <h4 class="media-heading">{{ reply.comment_post.poster.username }}</h4>
                                        <p>{{ reply.comment_post.description }}</p>
                                    </div>
                                </div>
                                {% endif %} {% endfor %}
                                <li class="dropdown">

                                    <form action="{{ url_for('reply',comment_id = comment.id, news_id = news.id) }}"
                                        method="post">
                                        <!-- Button trigger modal -->
                                        <a href="" data-toggle="modal" data-target="#replyModal{{comment.id}}">
                                            Reply
                                        </a>

                                        <!-- Modal -->
                                        <div class="modal modal-dialog modal-dialog-centered fade" id="replyModal{{comment.id}}"
                                            tabindex="-1" aria-labelledby="replyModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="replyModalLabel">Reply</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>

                                                    <div class="modal-body flex-col">
                                                        {{reply_form.description(class="m-1 form-control
                                                        form-control-lg",
                                                        placeholder=reply_form.description.label.text)}}
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close</button>
                                                        {{reply_form.submit(class="btn btn-primary")}}
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </li>
                                {% if current_user.id == comment.comment_post.poster.id %}
                                <li class="">
                                    <a
                                        href="{{ url_for('delete_comment', post_id=comment.comment_post.id, url = request.path) }}">DELETE</a>
                                </li>
                                {% endif %}
                                {% if current_user.id != comment.comment_post.poster.id %}
                                <li class="">
                                    <form action="{{ url_for('report_comment',comment_id = comment.id) }}"
                                        method="post">
                                        <!-- Button trigger modal -->
                                        <a href="" data-toggle="modal" data-target="#reportModal{{comment.id}}">
                                            Report
                                        </a>

                                        <!-- Modal -->
                                        <div class="modal modal-dialog modal-dialog-centered fade" id="reportModal{{comment.id}}"
                                            tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="reportModalLabel">Report</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>

                                                    <div class="modal-body flex-col">
                                                        {{ report_form.reason(class="m-1 form-control form-control-lg",
                                                        placeholder=report_form.reason.label.text) }}
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close</button>
                                                        {{report_form.submit(class="btn btn-primary")}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                        <div>
                        </div>
                    </div>
                    {% endif %} {% endfor %}
                    <!-- COMMENT 1 - END -->
                </div>
            </div>
        </div>
    </section>
</div>