<div class="iconbar" style="background-color: white;">
        <a href="/"><img class="logo" src="/static/Images/navbarLogo.png" style="cursor: pointer;"
                        tooltip-glyph="glyph-tooltip-demo" data-original-title="Home"></a>
        <a href="/Admindashboard"><span class="glyphicon glyphicon glyphicon-th-large icon-size"
                        tooltip-glyph="glyph-tooltip-demo" data-original-title="Dashboard"></span></a><br>
        <a href="/AdminarticleDetails"><span class="glyphicon glyphicon-th-list icon-size"
                        tooltip-glyph="glyph-tooltip-demo" data-original-title="Articles"></span></a><br>
        <a href="/addcategory"><span class="glyphicon glyphicon glyphicon-tag icon-size"
                        tooltip-glyph="glyph-tooltip-demo" data-original-title="Categories"></span></a><br>
        <a href="/Adminnotification"><span class="glyphicon glyphicon-bell icon-size" tooltip-glyph="glyph-tooltip-demo"
                        data-original-title="Notifications"></span></a><br>
        <a href="/onlinestatus"><span class="glyphicon glyphicon glyphicon-dashboard icon-size"
                        tooltip-glyph="glyph-tooltip-demo" data-original-title="Online_Status"></span></a><br>
        <a href="/Accountdetails"><span class="glyphicon glyphicon glyphicon-stats icon-size"
                        tooltip-glyph="glyph-tooltip-demo" data-original-title="Registeration_Record"></span></a><br>
        <a href="/reportednews"><span class="glyphicon glyphicon-list-alt icon-size" tooltip-glyph="glyph-tooltip-demo"
                        data-original-title="Reported_News"></span></a><br>
        <a href="/reportedComments"><span class="glyphicon glyphicon glyphicon-comment icon-size"
                        tooltip-glyph="glyph-tooltip-demo" data-original-title="Reported_Comments"></span></a><br>

        <div class="nav-item dropdown">
                <a href="#" data-toggle="dropdown" class="user-action"><img class="profile-pic"
                                src="/{{current_user.id}}"></a>
                <div class="dropdown-menu"
                        style="margin-left: 2%; padding: 20%; margin-bottom: -50%; margin-right: 0px; ">
                        <a href="#" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a><br>
                        <a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a><br>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url_for('logout', userid = current_user.id)}}" class="dropdown-item"><i
                                        class="fa fa-power-off"></i> Logout</a>
                </div>
        </div>
</div>