<div class="iconbar">
  <a href="/"><img class="logo" src="/static/Images/navbarLogo.png" style="cursor: pointer;"
      tooltip-glyph="glyph-tooltip-demo" data-original-title="Home"></a>
  <a href="/generalistNews"><span class="glyphicon glyphicon-globe icon-size" tooltip-glyph="glyph-tooltip-demo"
      data-original-title="News"></span></a><br>
  <a href="/notifications"><span class="glyphicon glyphicon-bell icon-size" tooltip-glyph="glyph-tooltip-demo"
      data-original-title="Notifications"></span></a><br>
  <a href="/list"><span class="glyphicon glyphicon-bookmark icon-size" tooltip-glyph="glyph-tooltip-demo"
      data-original-title="List"></span></a><br>
  <hr>
  {% if not current_user.role == "reader" %}
  <a href="/yournewsarticles"><span class="glyphicon glyphicon-list-alt icon-size" tooltip-glyph="glyph-tooltip-demo"
      data-original-title="Your_News"></span></a><br>
  <a href="/writenews"><span class="glyphicon glyphicon-pencil icon-size" tooltip-glyph="glyph-tooltip-demo"
      data-original-title="Write"></span></a><br>
  {% endif %}
  <div class="nav-item dropdown">
    <a href="#" data-toggle="dropdown" class="user-action"><img class="profile-pic"
                    src="/{{current_user.id}}"></a>
    <div class="dropdown-menu"
            style="margin-left: 2%; padding: 20%; margin-bottom: -50%; margin-right: 0px; ">
            <a href="{{ url_for('edit_profile', user_id = current_user.id )}}" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a><br>
            <div class="dropdown-divider"></div>
            <a href="{{ url_for('logout', userid = current_user.id)}}" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a>
    </div>
</div>
</div>