{% extends 'base.html' %}
{% block main %}
<section class="GContent">
    {% include 'left_user_menu.html' %}
    <!-- **********end -->
    <!-- *********************************************************************** all generlaist content show  -->
    <div class="G1">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Recommended</a>
            </h4>
        </div>
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Following</a>
            </h4>
        </div>
        <hr>
        <div class="panel-group" id="accordion">
            {% for key,value in articles.iterrows() %}
            <div class="panel panel-default">
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body" style="border-style: none;">
                        <div class="Gformat">

                            <!-- news title -->
                            <a href="/articleView">
                                <h2>{{ value['Title'] }}</h2>
                            </a>
                            <!-- news summary -->
                            <h4>{{ summary[key] }}</h4>

                        </div>
                        <!-- news image -->

                        <div class="Gimg"><img src={{ value['Image_Url'] }} loading="lazy"></div>
                        {% set skey = "http://127.0.0.1:8000/static/" + key|string + ".mp3" %}
                        <!-- share icons -->
                        <div class="mediabuttons">
                            <audio controls>
                                      <source src={{skey}} type="audio/mpeg">
                                    Your browser does not support the audio element.
                            </audio>
                            <!-- Comment section news -->
                            <button class="translater" onclick="myFunction({{key}})" style="margin-left: 10px; float: right;">TRANSLATE NEWS</button>
                            <div class="myDIV" id={{key}} style="display: none">
                              <p>{{data_conv[key]}}</p>
                            </div>


                        </div>
                    </div>
                    <hr>

                </div>


            </div>
            {% endfor %}
        </div>
    </div>


    <!-- ******* end -->

    <!-- *********************************************************************** generalist tag info Start -->
    {% include 'right_popular_news.html' %}
    <!-- ******* end -->
</section>

<!-- for translated news -->
  <script>
    function myFunction(val) {
      var x = document.getElementById(val);
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }


    function newsDetail(val) {
  var popup = document.getElementById(val);
  popup.classList.toggle("show");
}
  </script>

<!-- for follow button  -->
<script type="text/javascript">
    $(document).ready(function () {

        $("#follow-button").click(function () {
            if ($("#follow-button").text() == "+ Follow") {
                // *** State Change: To Following ***      
                // We want the button to squish (or shrink) by 10px as a reaction to the click and for it to last 100ms    
                $("#follow-button").animate({ width: '-=10px' }, 100, 'easeInCubic', function () { });

                // then now we want the button to expand out to it's full state
                // The left translation is to keep the button centred with it's longer width
                $("#follow-button").animate({ width: '+=45px', left: '-=15px' }, 600, 'easeInOutBack', function () {
                    $("#follow-button").css("color", "#fff");
                    $("#follow-button").text("Following");

                    // Animate the background transition from white to green. Using JQuery Color
                    $("#follow-button").animate({
                        backgroundColor: "#2EB82E",
                        borderColor: "#2EB82E"
                    }, 1000);
                });
            } else {

                // *** State Change: Unfollow ***     
                // Change the button back to it's original state
                $("#follow-button").animate({ width: '-=25px', left: '+=15px' }, 600, 'easeInOutBack', function () {
                    $("#follow-button").text("+ Follow");
                    $("#follow-button").css("color", "#3399FF");
                    $("#follow-button").css("background-color", "#ffffff");
                    $("#follow-button").css("border-color", "#3399FF");
                });
            }
        });
    });
</script>
{% endblock %}