-----------------------------------------Again repeated
        <br />
        <div class="Gformat">
          <!-- name/time -->
          <a class="time" href=""
            ><i class="far fa-clock"></i>27 views.June 5</a
          >
          <!-- news title -->
          <a href="GeneralistArticle.html"
            ><h2>
              PM Shehbaz, General Qamar Javed Bajwa discuss national security
              situation
            </h2></a
          >
          <!-- news summary -->
          <h4>
            The civil-military brass, according to the sources, held
            deliberations over several matters, including the country’s security
            situation and the military’s professional affairs. The meeting took
            place at the PM’s Office, the sources added. The chief of army staff
            last met the prime minister in April. “Professional matters about
            national security were discussed during the meeting,” a statement
            from the PM Office.
          </h4>
        </div>
        <!-- news image -->

        <div class="Gimg"><img src="/static/Images/pic1.jpg" /></div>

        <!-- share icons -->
        <div class="mediabuttons">
          <a href="#" data-tooltip="Account Security"
            ><i class="fa fa-fw fa-ellipsis-h"></i
          ></a>
          <a class="active" href="#"
            ><i class="fa fa-fw fa-share"></i>&nbsp;SHARE</a
          >
          <a href="#"
            ><i class="fa fa-bookmark" aria-hidden="true"></i>&nbsp;BOOKMARK</a
          >
          <a class="active" href="#"
            ><i class="fa fa-volume-up" aria-hidden="true"></i>&nbsp;LISTEN</a
          >
          <button class="translater" onclick="myFunction()">
            TRANSLATE NEWS
          </button>
          <button class="Comment" onclick="hiFunction()">COMMENTS</button>
          <div id="myDIV">
            <p>
              ذرائع کے مطابق سول ملٹری براس نے ملکی سلامتی کی صورتحال اور فوج کے
              پیشہ ورانہ امور سمیت متعدد امور پر تبادلہ خیال کیا۔ ذرائع نے مزید
              بتایا کہ ملاقات وزیراعظم آفس میں ہوئی۔ آرمی چیف نے آخری بار اپریل
              میں وزیراعظم سے ملاقات کی تھی۔ وزیر اعظم آفس سے جاری بیان میں کہا
              گیا ہے کہ ملاقات کے دوران قومی سلامتی سے متعلق پیشہ ورانہ امور پر
              تبادلہ خیال کیا گیا۔
            </p>
          </div>
          <!-- Comment section news -->

          <div id="ComDIV">
            <div class="com">
              <section class="content-item" id="comments">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-7">
                      <form>
                        <h2 class="pull-left" style="margin-top: -0.6%">
                          4 Comments
                        </h2>
                        <button type="submit" class="btn btn-normal pull-right">
                          Submit
                        </button>
                        <fieldset>
                          <div class="row">
                            <div class="col-sm-3 col-lg-2 hidden-xs">
                              <img
                                class="img-responsive"
                                src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                alt=""
                              />
                            </div>
                            <div
                              class="form-group col-xs-12 col-sm-9 col-lg-10"
                            >
                              <textarea
                                class="form-control"
                                id="message"
                                placeholder="Add a comment..."
                                required=""
                              ></textarea>
                            </div>
                          </div>
                        </fieldset>
                      </form>

                      <!--                 <h3>4 Comments</h3> -->

                      <!-- COMMENT 1 - START -->
                      <div class="media">
                        <a class="pull-left" href="#"
                          ><img
                            class="media-object"
                            src="https://bootdey.com/img/Content/avatar/avatar1.png"
                            alt=""
                        /></a>
                        <div class="media-body">
                          <h4 class="media-heading">John Doe</h4>
                          <p>
                            The chief of army staff last met the prime minister
                            in April
                          </p>
                          <ul
                            class="list-unstyled list-inline media-detail pull-left"
                          >
                            <li><i class="far fa-clock"></i>2 d</li>
                            <li><i class="fa fa-thumbs-up"></i>13</li>
                          </ul>
                          <ul
                            class="list-unstyled list-inline media-detail pull-right"
                          >
                            <li class=""><a href="">Reply</a></li>
                            <li class=""><a href="">Report</a></li>
                          </ul>
                        </div>
                      </div>
                      <!-- COMMENT 1 - END -->

                      <!-- COMMENT 2 - START -->
                      <div class="media">
                        <a class="pull-left" href="#"
                          ><img
                            class="media-object"
                            src="https://bootdey.com/img/Content/avatar/avatar2.png"
                            alt=""
                        /></a>
                        <div class="media-body">
                          <h4 class="media-heading">John Doe</h4>
                          <p>
                            which was their first meeting after the premier was
                            elected to office.
                          </p>
                          <ul
                            class="list-unstyled list-inline media-detail pull-left"
                          >
                            <li><i class="far fa-clock"></i>2 d</li>
                            <li><i class="fa fa-thumbs-up"></i>13</li>
                          </ul>
                          <ul
                            class="list-unstyled list-inline media-detail pull-right"
                          >
                            <li class=""><a href="">Reply</a></li>
                            <li class=""><a href="">Report</a></li>
                          </ul>
                        </div>
                      </div>
                      <!-- COMMENT 2 - END -->

                      <!-- COMMENT 3 - START -->
                      <div class="media">
                        <a class="pull-left" href="#"
                          ><img
                            class="media-object"
                            src="https://bootdey.com/img/Content/avatar/avatar3.png"
                            alt=""
                        /></a>
                        <div class="media-body">
                          <h4 class="media-heading">John Doe</h4>
                          <p>
                            The civil-military brass, according to the sources,
                            held deliberations over several matters, including
                            the country’s security situation and the military’s
                            professional affairs.
                          </p>
                          <ul
                            class="list-unstyled list-inline media-detail pull-left"
                          >
                            <li><i class="far fa-clock"></i>2 d</li>
                            <li><i class="fa fa-thumbs-up"></i>13</li>
                          </ul>
                          <ul
                            class="list-unstyled list-inline media-detail pull-right"
                          >
                            <li class=""><a href="">Reply</a></li>
                            <li class=""><a href="">Report</a></li>
                          </ul>
                        </div>
                      </div>
                      <!-- COMMENT 3 - END -->

                      <!-- COMMENT 4 - START -->
                      <div class="media">
                        <a class="pull-left" href="#"
                          ><img
                            class="media-object"
                            src="https://bootdey.com/img/Content/avatar/avatar4.png"
                            alt=""
                        /></a>
                        <div class="media-body">
                          <h4 class="media-heading">John Doe</h4>
                          <p>Great job</p>
                          <ul
                            class="list-unstyled list-inline media-detail pull-left"
                          >
                            <li><i class="far fa-clock"></i>2 d</li>
                            <li><i class="fa fa-thumbs-up"></i>13</li>
                          </ul>
                          <ul
                            class="list-unstyled list-inline media-detail pull-right"
                          >
                            <li class=""><a href="">Reply</a></li>
                            <li class=""><a href="">Report</a></li>
                          </ul>
                        </div>
                      </div>
                      <!-- COMMENT 4 - END -->
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
        <hr />
        <!-------------------------------------------Again repeated -->
        <br />
        <div class="Gformat">
          <!-- name/time -->
          <a class="time" href=""
            ><i class="far fa-clock"></i>27 views.June 5</a
          >
          <!-- news title -->
          <a href="GeneralistArticle.html"
            ><h2>
              PM Shehbaz, General Qamar Javed Bajwa discuss national security
              situation
            </h2></a
          >
          <!-- news summary -->
          <h4>
            The civil-military brass, according to the sources, held
            deliberations over several matters, including the country’s security
            situation and the military’s professional affairs. The meeting took
            place at the PM’s Office, the sources added. The chief of army staff
            last met the prime minister in April. “Professional matters about
            national security were discussed during the meeting,” a statement
            from the PM Office.
          </h4>
        </div>
        <!-- news image -->

        <div class="Gimg"><img src="/static/Images/pic1.jpg" /></div>

        <!-- share icons -->
        <div class="mediabuttons">
          <a href="#" data-tooltip="Account Security"
            ><i class="fa fa-fw fa-ellipsis-h"></i
          ></a>
          <a class="active" href="#"
            ><i class="fa fa-fw fa-share"></i>&nbsp;SHARE</a
          >
          <a href="#"
            ><i class="fa fa-bookmark" aria-hidden="true"></i>&nbsp;BOOKMARK</a
          >
          <a class="active" href="#"
            ><i class="fa fa-volume-up" aria-hidden="true"></i>&nbsp;LISTEN</a
          >
          <button class="translater" onclick="myFunction()">
            TRANSLATE NEWS
          </button>
          <button class="Comment" onclick="hiFunction()">COMMENTS</button>
          <div id="myDIV">
            <p>
              ذرائع کے مطابق سول ملٹری براس نے ملکی سلامتی کی صورتحال اور فوج کے
              پیشہ ورانہ امور سمیت متعدد امور پر تبادلہ خیال کیا۔ ذرائع نے مزید
              بتایا کہ ملاقات وزیراعظم آفس میں ہوئی۔ آرمی چیف نے آخری بار اپریل
              میں وزیراعظم سے ملاقات کی تھی۔ وزیر اعظم آفس سے جاری بیان میں کہا
              گیا ہے کہ ملاقات کے دوران قومی سلامتی سے متعلق پیشہ ورانہ امور پر
              تبادلہ خیال کیا گیا۔
            </p>
          </div>
          <!-- Comment section news -->

          <div id="ComDIV">
            <div class="com">
              <section class="content-item" id="comments">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-7">
                      <form>
                        <h2 class="pull-left" style="margin-top: -0.6%">
                          4 Comments
                        </h2>
                        <button type="submit" class="btn btn-normal pull-right">
                          Submit
                        </button>
                        <fieldset>
                          <div class="row">
                            <div class="col-sm-3 col-lg-2 hidden-xs">
                              <img
                                class="img-responsive"
                                src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                alt=""
                              />
                            </div>
                            <div
                              class="form-group col-xs-12 col-sm-9 col-lg-10"
                            >
                              <textarea
                                class="form-control"
                                id="message"
                                placeholder="Add a comment..."
                                required=""
                              ></textarea>
                            </div>
                          </div>
                        </fieldset>
                      </form>

                      <!--                 <h3>4 Comments</h3> -->

                      <!-- COMMENT 1 - START -->
                      <div class="media">
                        <a class="pull-left" href="#"
                          ><img
                            class="media-object"
                            src="https://bootdey.com/img/Content/avatar/avatar1.png"
                            alt=""
                        /></a>
                        <div class="media-body">
                          <h4 class="media-heading">John Doe</h4>
                          <p>
                            The chief of army staff last met the prime minister
                            in April
                          </p>
                          <ul
                            class="list-unstyled list-inline media-detail pull-left"
                          >
                            <li><i class="far fa-clock"></i>2 d</li>
                            <li><i class="fa fa-thumbs-up"></i>13</li>
                          </ul>
                          <ul
                            class="list-unstyled list-inline media-detail pull-right"
                          >
                            <li class=""><a href="">Reply</a></li>
                            <li class=""><a href="">Report</a></li>
                          </ul>
                        </div>
                      </div>
                      <!-- COMMENT 1 - END -->

                      <!-- COMMENT 2 - START -->
                      <div class="media">
                        <a class="pull-left" href="#"
                          ><img
                            class="media-object"
                            src="https://bootdey.com/img/Content/avatar/avatar2.png"
                            alt=""
                        /></a>
                        <div class="media-body">
                          <h4 class="media-heading">John Doe</h4>
                          <p>
                            which was their first meeting after the premier was
                            elected to office.
                          </p>
                          <ul
                            class="list-unstyled list-inline media-detail pull-left"
                          >
                            <li><i class="far fa-clock"></i>2 d</li>
                            <li><i class="fa fa-thumbs-up"></i>13</li>
                          </ul>
                          <ul
                            class="list-unstyled list-inline media-detail pull-right"
                          >
                            <li class=""><a href="">Reply</a></li>
                            <li class=""><a href="">Report</a></li>
                          </ul>
                        </div>
                      </div>
                      <!-- COMMENT 2 - END -->

                      <!-- COMMENT 3 - START -->
                      <div class="media">
                        <a class="pull-left" href="#"
                          ><img
                            class="media-object"
                            src="https://bootdey.com/img/Content/avatar/avatar3.png"
                            alt=""
                        /></a>
                        <div class="media-body">
                          <h4 class="media-heading">John Doe</h4>
                          <p>
                            The civil-military brass, according to the sources,
                            held deliberations over several matters, including
                            the country’s security situation and the military’s
                            professional affairs.
                          </p>
                          <ul
                            class="list-unstyled list-inline media-detail pull-left"
                          >
                            <li><i class="far fa-clock"></i>2 d</li>
                            <li><i class="fa fa-thumbs-up"></i>13</li>
                          </ul>
                          <ul
                            class="list-unstyled list-inline media-detail pull-right"
                          >
                            <li class=""><a href="">Reply</a></li>
                            <li class=""><a href="">Report</a></li>
                          </ul>
                        </div>
                      </div>
                      <!-- COMMENT 3 - END -->

                      <!-- COMMENT 4 - START -->
                      <div class="media">
                        <a class="pull-left" href="#"
                          ><img
                            class="media-object"
                            src="https://bootdey.com/img/Content/avatar/avatar4.png"
                            alt=""
                        /></a>
                        <div class="media-body">
                          <h4 class="media-heading">John Doe</h4>
                          <p>Great job</p>
                          <ul
                            class="list-unstyled list-inline media-detail pull-left"
                          >
                            <li><i class="far fa-clock"></i>2 d</li>
                            <li><i class="fa fa-thumbs-up"></i>13</li>
                          </ul>
                          <ul
                            class="list-unstyled list-inline media-detail pull-right"
                          >
                            <li class=""><a href="">Reply</a></li>
                            <li class=""><a href="">Report</a></li>
                          </ul>
                        </div>
                      </div>
                      <!-- COMMENT 4 - END -->
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>